.arrow {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	background-image: url('../img/iconSprites.png');
	background-repeat: no-repeat;
	background-size: 384px 300px;
	overflow: hidden;
	z-index: 1;
}

.arrow-down {
    height: 43px;
    width: 41px;
    background-position: 0px -66px;
}

.arrow-up {
    height: 43px;
    width: 42px;
    background-position: -45px -66px;
}

.arrow-footer {

}

#headerWrapper .arrow-down {
position: absolute;
top: 300px;
left: 50%;
z-index: 2;
@media @768 {
	display: none;
}

}