#headerWrapper.headerWrapper-template {
	height: 443px;
}

#content-wrapper {
  width: 820px;
  margin: 0 auto;
  background-color: white;
  margin-top: -228px;
  
  	#content {
	    min-height: 500px;
    	margin: 50px 80px 50px 80px;
	    
	    h3 {
	    	margin: 46px 0;
	    }

		p {
		    text-align: justify;
		    opacity: 0.6;
		    font-family: HelveticaNeue-Light;
		    font-size: 16px;
		    color: #000000;
		    line-height: 21px;
		    margin: 10px 0 20px 0;
	  	}
	  	.content-spacer-line {
			margin: 20px 0;
	  	}
		.ulfix {
		    text-align: left;
		    list-style-type: decimal !important;
		      
			li {
			    list-style-type: disc;
			    width: 100%;
			    float: none;
			    }
		}
		img {
		    max-width: 100%;
		}
		.button {
			width: 215px;
		    height: 50px;
		    border: 1px solid #00D7FF;
		    border-radius: 2px;
		    font-weight: 500;
		    font-family: HelveticaNeue;
		    font-size: 14px;
		    color: #5F8F9C;
		    background-color: transparent;
	        position: relative;
    		padding-left: 30px;
    		font-weight: 700;
    		margin: 5px 0 5px 0;
    		cursor: pointer;
    		pointer: hand;

		    .icon {
			    display: inline-block;
			    position: absolute;
			    top: 50%;
			    left: 5px;
			    transform: translateY(-50%);
		    }

		}
		.button-blue {
			color: white;
			background-color: #00D7FF;
		}
	}
}