#footer {
	background-color: #f0f0f0;
}

#inner-footer {

	text-align: center;
	margin: 0 auto;
	//width: 780px;
	position: relative;

	section {
		padding: 33px 0;

		img:nth-child(1) {
			width: 177px;
    		padding-right: 128px;
		}
		img:nth-child(2) {
			width: 98px;
		}

		@media @550 {

			img:first-child {
				padding: 0;
			}

			img:nth-child(2) {
				display: none;
			}
		}
	}
	p {
		text-align: center;
		padding-bottom: 33px;
		margin-bottom: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			display: inline-block;
		}

		a {
			color: black;
			opacity: 0.6;
		}

		@media @550 {
			li {
				width: 80%;
				display: block;
				margin: 0 auto;
				border-bottom: 2px solid black;
				border-color: rgba(0,0,0,0.6);
				font-size: 18px;
				padding: 15px 0;

				&:nth-child(even) {
					display: none;
				}
			}
		}
	}
}