body {
	margin: 0;
	padding: 0;
}
.contain {
	width: 700px;
	margin: 0 auto;
}
#header {
	background-color: blue;
	height: 200px;
}
#bgimage {
	background-color: green;
	height: 200px;
}
#content {
	background-color: white;
	height: auto;
}