#headerWrapper {
	height: 963px;
	width: 100%;
	background-color: #367396;
	background-image: url(../img/bg/Background_01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	#header {
		height: 106px;
		max-width: 1235px;
		margin: 0 auto;
		overflow: hidden;
		padding: 24px 0;
		box-sizing: border-box;
		#logo {
			float: left;
			width: 177px;
			margin-right: 13px;
		}
		nav {
			float: right;
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;

				li {
					display: inline-block; 
					padding: 0 13px;
					a {
						text-decoration: none;
						&:hover {
							.icon-mail {
								// change color on hover
						    	background-position: -242px -37px;
							}
							.icon-star {
								// change color on hover
								background-position: -303px -37px;
							}
						}
						span.icon {
							display: inline-block;
   							vertical-align: text-bottom;
							margin-right: 13px;
    						margin-bottom: -2px;
						}
					}
				}

			@media @1024 {
				font-size: 13px;
				li {
					padding: 0 7px;
				} 
			}
			
			}
		}
	}
	#headerSplitter {
		display: block;
		max-width: 940px;
		margin: 0 auto;
	}
}