.title-wrap {
	text-align: center;
	h1 {
		margin: 20px 0px 15px 0;
	}
	p {
		font-family: HelveticaNeue-Light;
		font-size: 25px;
		color: #FFFFFF;
		line-height: 1.20em;
		margin: 0;
	}
}
#hero {
	position: relative;
	width: 780px;
	height: 540px;
	margin: 0 auto;
	margin-top: 2%;
	background-color: rgba(255, 255, 255, 0.5)
}
.hero-triangle {
	width: calc(100% - 92px);
    height: 400px;
    position: absolute;
    top: 61px;
    left: 50%;
    background-image: url(../img/hero.png);
    background-position: center top;
    background-size: contain;
    transform: translateX(-50%);
}




