.icon {
	width: 56px;
	height: 56px;
	background-image: url('../img/iconSprites.png');
	background-repeat: no-repeat;
	background-size: 384px 300px;
	overflow: hidden;

	&.icon-mail {
        width: 30px;
   	 	height: 23px;
		background-position: -210px -37px; // white
	    // 	background-position: -183px -2px; // black
	    // 	background-position: -242px -37px; // blue
	}
	&.icon-star {
		width: 25px;
	    height: 24px;
		background-position: -274px -37px; // white
	    // 	background-position: -303px -37px; // blue
	}
}