.icon {
	width: 56px;
	height: 56px;
	background-image: url('../img/iconSprites.png');
	background-repeat: no-repeat;
	background-size: 384px 300px;
	overflow: hidden;

	&.icon-mail {
        width: 30px;
   	 	height: 23px;
		background-position: -210px -37px; // white
	    // 	background-position: -183px -2px; // black
	    // 	background-position: -242px -37px; // blue
	}
	&.icon-star {
		width: 25px;
	    height: 24px;
		background-position: -274px -37px; // white
	    // 	background-position: -303px -37px; // blue
	}
	&.icon-arrow-down {
		width: 25px;
	    height: 24px;
		background-position: -274px -37px; // white
	    // 	background-position: -303px -37px; // blue
	}
	&.icon-close {
	    height: 43px;
	    width: 42px;
	    background-position: -88px -66px;
	    // background-position: -136px -66px; // blue
	}
	&.icon-grid {
	    height: 27px;
	    width: 31px;
	    background-position: -96px 0px;
	}
	&.icon-turnaround  {
		height: 26px;
	    width: 27px;
	    background-position: -320px 0;
	}
	&.icon-masonery {
		height: 23px;
	    width: 36px;
	    background-position: -221px 0;
	}
	&.icon-download {
	    width: 22px;
	    height: 30px;
	    background-position: -181px -68px;
	    &.blue {
			background-position: -209px -68px;
	    }
	}
}