#content { //DODATO ZBOG SPECIFICNOSTI INACE NECE p DA RADI KAKO VALJA
	#leadership {
		.conferences {
			width: 33%;
			float: left;

			p {
				text-align: left;
			}

			button {
				color: black;
				border: 1px solid #00C7FF;
				border-radius: 30px;
			    text-decoration: none;
			    height: 29px;
			    line-height: 26px;
			    overflow: hidden;
			    text-align: center;
			    padding: 0;
			    display: block;
		    	margin: 0;
			    width: 100px;
				background-color: transparent;
				margin: 0 auto;
			}
		}
	}
}