#tabs-menu {
    display: block;
    overflow: hidden;
    font-family: HelveticaNeue-Light;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			margin: 0;
			padding: 0;
			float: left;
			a {
				color: black;
			    width: 410px;
			    display: block;
			    box-sizing: border-box;
			    text-align: center;
			}
		}
	}
}
.tabs-content {

	section {
		display: none;
	}
	section:nth-child(1) {
		display: block;
	}
}