#headerWrapper.headerWrapper-template {
	height: 443px;
}

.main-content-template {

	.template-content {
		width: 820px;
		margin: 0 auto;
		background-color: white;
		margin-top: -230px;
		border: 1px solid red;
	}
}